body {
	background-color: #2b323a;
}


.content-in-center {
	text-align: center;
}


.card {
	background-color: #e9ecef;
}

.main-content {
	margin-top: 20px;
}

.img-style {
	padding: 10px;
}

img {
	height: 270px;
    object-fit: cover;
    border-radius: 20px;
}